extends template/main

block variables
	- var title = 'Nerds'

block content
	include pages/index/slider.pug
	include pages/index/services.pug
	include pages/index/about.pug
	include pages/index/clients.pug
	include pages/index/map.pug
