/* ==============================
HEADER
 ================================ */
.header {
	background: #eeeeee;
	// Overall Nav
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-top: 48px;
		position: relative;
	}
	.logo {
		&:hover {
			opacity: 0.7;
		}
		&:active {
			opacity: 0.3;
		}
	}

	// Hamburger
	.hamburger {
		cursor: pointer;
		@media (min-width: $lg) {
			display: none;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	.header__wrapper {
		background: #eeeeee;
		position: absolute;
		max-height: 0;
		overflow: hidden;
		left: 0;
		top: 114px;
		width: 100%;
		transition: max-height 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		@media (min-width: $lg) {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			max-width: 800px;
			margin-left: 40px;
			max-height: none;
			position: static;
			overflow: unset;
		}
	}

	.header__wrapper-open {
		max-height: 500px;
		max-height: 50rem;
	}
	.menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		@media (min-width: $lg) {
			max-width: 437px;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 9px;
		}
		&-user {
			@media (min-width: $lg) {
				max-width: 116px;
				width: 100%;
			}
			&__link {
				position: relative;
			}
			&__link:before {
				position: absolute;
				content: "";
				display: block;
				width: 15px;
				height: 15px;
				background-image: url("../images/Header/cart-icon.png");
				top: 50%;
				transform: translateY(-50%);
				left: -20px;
			}
		}

		&__link {
			display: block;
			max-width: 116px;
			margin: auto;
			text-align: center;
			padding-bottom: 15px;
			text-transform: uppercase;
			font-weight: 500;
			transition: all 0.3s ease;
			position: relative;
			@media (min-width: $lg) {
				padding-bottom: 0;
			}
			&:hover {
				color: #fb565a;
			}
			&:active {
				opacity: 0.3;
				// color: rgba(0, 0, 0, 0.3);
			}
			&-current:after {
				position: absolute;
				content: "";
				bottom: 10px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #fb565a;
				@media (min-width: $lg) {
					bottom: 0;
				}
			}
		}
	}
}

// 	.header__slider {
// 		position: relative;
// 		overflow: hidden;
// 		padding-left: 0;
// 		padding-right: 0;
// 		.slider {
// 			width: 300%;
// 			height: 100%;
// 			display: flex;
// 			transition: all 0.3s ease;
// 			&__item {
// 				flex-basis: 100%;
// 				padding: 80px 0;
// 				text-align: center;
// 				overflow: hidden;
// 				@media (min-width: $lg) {
// 					text-align: left;
// 					&:nth-child(1) {
// 						background: #eee
// 							url("../images/Header/nerds-index-slide1.png")
// 							no-repeat right bottom;
// 						background-size: 70%;
// 					}

// 					&:nth-child(2) {
// 						background: #eee
// 							url("../images/Header/nerds-index-slide2.png")
// 							no-repeat right bottom;
// 						background-size: 70%;
// 					}

// 					&:nth-child(3) {
// 						background: #eee
// 							url("../images/Header/nerds-index-slide3.png")
// 							no-repeat right bottom;
// 						background-size: 70%;
// 					}
// 				}
// 			}

// 			&__title {
// 				@include fluidFontSize(25px, 55px, 320px, 992px, 25px);
// 				@include fluid(
// 					"line-height",
// 					(
// 						320px: 24px,
// 						992px: 55px,
// 					)
// 				);
// 				font-weight: 500;
// 				max-width: 400px;
// 				width: 100%;
// 				margin: auto;
// 				margin-bottom: 28px;
// 				@media (min-width: $lg) {
// 					text-align: left;
// 					margin: 0;
// 					margin-bottom: 28px;
// 				}
// 			}
// 			&__text {
// 				max-width: 400px;
// 				width: 100%;
// 				margin: auto;
// 				margin-bottom: 38px;
// 				@media (min-width: $lg) {
// 					text-align: left;
// 					margin: 0;
// 					margin-bottom: 28px;
// 				}
// 			}
// 			&__btn {
// 				max-width: 240px;
// 				width: 100%;
// 			}
// 			&-controls {
// 				position: absolute;
// 				bottom: 40px;
// 				left: 50%;
// 				transform: translateX(-50%);
// 				max-width: 88px;
// 				width: 100%;
// 				display: flex;
// 				justify-content: space-between;
// 				align-items: center;
// 			}
// 			&-controls__item {
// 			}
// 			&-controls__btn {
// 				width: 18px;
// 				height: 18px;
// 				border-radius: 50%;
// 				background-color: #fff;
// 				position: relative;
// 				outline: none;
// 			}
// 			&-controls__btn-current::after {
// 				position: absolute;
// 				content: "";
// 				width: 8px;
// 				height: 8px;
// 				top: 50%;
// 				left: 50%;
// 				transform: translate(-50%, -50%);
// 				border: 1px solid #c1c1c1;
// 				border-radius: 50%;
// 			}
// 		}
// 	}
// }

// CATALOG HEADER
.header-bottom__title {
	padding-top: 78px;
	padding-bottom: 102px;
	text-align: center;
	font-size: 55px;
	line-height: 55px;
	@media (max-width: $md) {
		font-size: 35px;
		line-height: 35px;
	}
}
