section.about.container
	.about__column
		h2.about__title Мы — маленькая, но гордая дизайн-студия из Краснодара.
		p.about__text Исповедуем принципы минимализма и чистоты. Ставим математический расчет превыше креатива. Работаем не покладая рук, как роботы.
		p.about__head-text Выполняем заказы на разработку:
		ul.about-list
			li.about-list__item Веб-сайтов любой сложности
			li.about-list__item Мобильных приложений для iOS и Android
			li.about-list__item Слайдшоу и видео для корпоративных презентаций
	.about__column
		.about__logo
			img(src="images/About/nerds-about.png", alt="Nerds-logo")
		p.about-features__text с 2004 года Любим точность во всем:
		ul.about-features-list
			li.about-features-list__item
				span.about-features-list__number.d-block 146
					sup %
				span.about-features-list__name Уровень самоотдачи
			li.about-features-list__item
				span.about-features-list__number.d-block 100
					sup %
				span.about-features-list__name Соблюдение сроков
			li.about-features-list__item
				span.about-features-list__number.d-block 50
					sup %
				span.about-features-list__name Минимальная предоплата