section.clients.container
	ul.clients-list
		li.clients-list__item
			a(href="#").clients-list__link
				img(src="images/Clients/html.svg", alt="html-academy")
		li.clients-list__item
			a(href="#").clients-list__link
				img(src="images/Clients/borodinski.svg", alt="borodinski")
		li.clients-list__item
			a(href="#").clients-list__link
				img(src="images/Clients/pink.svg", alt="pink")
		li.clients-list__item
			a(href="#").clients-list__link
				img(src="images/Clients/mishka.svg", alt="mishka")