section.clients.container
	ul.clients-list
		li.clients-list__item
			img(src="images/Clients/html-academy-icon.svg", alt="html-academy")
		li.clients-list__item
			img(src="images/Clients/borodinski-icon.svg", alt="borodinski")
		li.clients-list__item
			img(src="images/Clients/pink-icon.svg", alt="pink")
		li.clients-list__item
			img(src="images/Clients/mishka-icon.svg", alt="mishka")