sections.services.container
	ul.services-list.container
		li.services-list__item
			.services-list__wrapper
				img(src="images/Services/services-img1.jpg", alt="site")
			h3.services-list__title Веб-сайты
			p.services-list__text Мир никогда не будет прежним после того как увидит ваш сайт!
			a.services-list__btn.btn.btn--red Заказать
		li.services-list__item
			.services-list__wrapper
				img(src="images/Services/services-img2.jpg", alt="app")
			h3.services-list__title Приложения
			p.services-list__text Покорите топ-10 приложений в AppStore и Google Play
			a.services-list__btn.btn.btn--green Заказать
		li.services-list__item
			.services-list__wrapper
				img(src="images/Services/services-img3.jpg", alt="presentation")
			h3.services-list__title Презентации
			p.services-list__text Вы даже не подозреваете, насколько вы изумительны!
			a.services-list__btn.btn.btn--yellow Заказать