footer.footer.container
	ul.footer-social-list
		li.footer-social-list__item
			img(src="images/Footer/vk-icon.svg", alt="vk")
		li.footer-social-list__item
			img(src="images/Footer/fb-icon.svg", alt="fb")
		li.footer-social-list__item
			img(src="images/Footer/inst-icon.svg", alt="inst")
	.footer-info
		h3.footer-info__title Давайте дружить, это выгодно!
		p.footer-info__text Скидка 10% для друзей из социальных сетей.
