
header.header
	.header-inner.container
		nav.nav
			a.logo(href="#")
				img(src="images/Header/nerds-logo.svg", alt="Nerds")
			ul.menu
				li.menu__item
					a.menu__link(href="") Студия
				li.menu__item
					a.menu__link(href="") Клиенты
				li.menu__item
					a.menu__link(href="") Магазин
				li.menu__item
					a.menu__link(href="") Контакты
				li.menu__item.basket
					a.basket__link.menu__link(href="")
						img.basket__img(src="images/Header/cart-icon.svg", alt="basket")
						| Корзина
	.header-bottom.container
		.header__info
			h1.header__title Долго, дорого, скрупулезно.
			p.header__text Математически выверенный дизайн для вашего сайта или мобильного приложения.
			button.header__btn.btn.btn--red Узнать больше
		.header-slider
			.header-slider__item
				img(src="images/Header/header-slider-image-1.png", alt="slider-item")
			.header-slider__item
				img(src="images/Header/header-slider-image-1.png", alt="slider-item")
			.header-slider__item
				img(src="images/Header/header-slider-image-1.png", alt="slider-item")
		.header-slider__controls
