//- include ../utils/mixins
block variables

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv="X-UA-Compatible", content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		link(rel="stylesheet" type="text/css" href="css/styles.css")
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
		link(rel="shortcut icon" type="img/png" href="images/favicon.png")
	body.index-body
		// Header
		include ../modules/header.pug

		// Main
		main.main
			block content

		// Footer
		include ../modules/footer.pug

		// Script
		script(src="js/libs.min.js")
		script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
		script(src="js/main.js")
		block script
