.about {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 2px solid #eee;
	padding-bottom: 73px;
	&__column {
		&:nth-child(1) {
			max-width: 652px;
			width: 100%;
		}
		&:nth-child(2) {
			max-width: 360px;
			width: 100%;
			text-align: center;
		}
	}
	&__title {
		margin-top: 73px;
		margin-bottom: 32px;
		@include fluidFontSize(24px, 45px, 320px, 992px, 24px);
		@include fluid(
			"line-height",
			(
				320px: 24px,
				920px: 45px,
			)
		);
	}
	&__text {
		margin-bottom: 40px;
	}
	&__head-text {
		margin-bottom: 23px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&-list {
	}
	&-list__item {
		margin: 10px 0;
	}
	&__logo {
		margin-top: 39px;
		margin-bottom: 37px;
	}
	&-features__text {
		font-weight: 700;
		text-transform: uppercase;
	}
	&-features-list {
		display: flex;
		justify-content: space-between;
	}
	&-features-list__item {
		width: 32%;
	}
	&-features-list__number {
		font-size: 45px;
		line-height: 64px;
		font-weight: 700;
		margin-bottom: 10px;
		sup {
			font-size: 26px;
		}
	}
	&-features-list__name {
	}
}
