.catalog {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding-top: 55px;
	padding-bottom: 60px;
	.catalog-filters {
		max-width: 260px;
		width: 100%;
		margin-right: 20px;

		.catalog-form {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.catalog-form__fieldset {
				margin-bottom: 50px;
				width: 100%;
			}
			.catalog-form__legend {
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 16px;
			}
			.range-filter {
				margin-bottom: 54px;
			}
			.range-controls {
				margin-bottom: 14px;
				background: #eeeeee;
				border-radius: 3px;
				padding: 39px 20px;
				position: relative;
			}
			.scale {
				height: 2px;
				background: #d7dcde;
			}
			.bar {
				width: 80%;
				height: 2px;
				background: #00ca74;
			}
			.toggle {
				position: absolute;
				width: 4px;
				height: 4px;
				border: 8px solid #ffffff;
				background-color: #ababab;
				box-shadow: 0 2px 1px 0 #cfcfcf;
				border-radius: 50%;
				cursor: pointer;
				top: 50%;
				transform: translateY(-50%);
				&::after {
					position: absolute;
					content: "";
					background: #ababab;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.toggle-min {
			}
			.toggle-max {
				left: 180px;
			}
			.price-controls {
				display: flex;
				justify-content: space-between;
				&__label {
					text-transform: uppercase;
					input {
						width: 80px;
						background: #eeeeee;
						border-radius: 3px;
						padding: 8px 16px;
						text-align: center;
						margin-left: 10px;
					}
					.min-price {
					}
					.max-price {
					}
				}
			}

			.catalog-form__group {
				line-height: 20px;
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
			.catalog-form__radio {
			}
			.catalog-form__label {
			}
			.catalog-form__checkbox {
			}
			.catalog-form__btn {
				background: #eeeeee;
				border-radius: 3px;
				color: #000;
				width: 100%;
				font-weight: 500;
			}
			.btn {
			}
		}
	}

	.catalog-content {
		max-width: 760px;
		width: 100%;
		.catalog-header {
			display: flex;
			justify-content: space-between;
			.catalog-header__title {
				font-size: 18px;
				font-weight: 700;
				line-height: 30px;
			}
			.catalog-types-list {
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 346px;
				width: 100%;
			}
			.catalog-types__item {
				&:last-child {
					display: flex;
					justify-content: space-between;
					align-items: center;
					max-width: 38px;
					width: 100%;
				}
			}
			.catalog-types__link {
				text-transform: uppercase;
				font-size: 14px;
				line-height: 18px;
			}
			.catalog-types__link-current {
			}
			.catalog-types__dir {
				background-color: rgba(0, 0, 0, 0.3);
			}
			.catalog-types__dir-up {
				clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
				width: 10px;
				height: 10px;
				display: block;
			}
			.catalog-types__dir-current {
				background-color: #000;
			}
			.catalog-types__dir-down {
				clip-path: polygon(50% 100%, 0 0, 100% 0);
				width: 10px;
				height: 10px;
				display: block;
			}
		}

		.catalog-list {
			padding-top: 48px;
			padding-bottom: 55px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			flex-basis: 48%;

			.catalog-list__item {
				position: relative;
				cursor: pointer;
				overflow: hidden;
				&:hover .catalog-list__desc {
					transform: translateY(0);
				}
			}
			.catalog-list__header {
			}
			.catalog-list__wrapper {
			}
			.catalog-list__desc {
				position: absolute;
				bottom: 0;
				left: 0;
				transform: translateY(100%);
				padding-top: 26px;
				padding-bottom: 44px;
				text-align: center;
				background-color: #eeeeee;
				transition: transform 0.3s ease;
				.catalog-list__head {
				}
				.catalog-list__text {
					padding: 12px 52px 32px;
				}
				.catalog-list__btn {
					max-width: 200px;
					width: 100%;
				}
			}
		}
		.pagination {
			display: flex;
			justify-content: space-between;
			max-width: 443px;
			width: 100%;
			&__item {
				display: flex;
				align-items: center;
				justify-content: center;
				max-width: 50px;
				width: 100%;
				height: 50px;
				background: #eeeeee;
				border-radius: 3px;
				cursor: pointer;
				&:last-child {
					max-width: 260px;
					width: 100%;
				}
			}
			&__link {
				text-transform: uppercase;
				font-weight: 500;
				line-height: 18px;
			}
			&__link-current {
			}
		}
	}
}
